.meetingLogo {
    height: 1.5em;
    margin-right: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .meetingLogo {
    animation: logo-spin infinite 20s linear;
  }
}